[Unit]
Description=Boxctl Angie reverse proxy
After=network-online.target

[Container]
Image=docker.angie.software/angie:minimal
ContainerName=boxctl-angie
Network=boxctl.network
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Volume=%h/boxctl/angie/angie.conf:/etc/angie/angie.conf:ro
Volume=%h/boxctl/angie/http.d:/etc/angie/http.d:ro
Volume=%h/boxctl/angie/logs:/var/log/angie
Volume=%h/boxctl/angie/html:/etc/angie/html:ro
Volume=%h/boxctl/angie/acme:/var/lib/angie/acme

[Service]
Restart=always

[Install]
WantedBy=default.target
