[Unit]
Description=Create sockets directory with ACL for angie
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'mkdir -p /run/user/%U/sockets && setfacl -d -m u:angie:rw /run/user/%U/sockets'
RemainAfterExit=yes

[Install]
WantedBy=default.target
